<div class="wrapper" *ngIf="isAuthenticated$ | ngrxPush">
  <div class="content">
  
      <lib-header ></lib-header>
    
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav
          #sidenav mode="side"
          [(opened)]="opened"
          (opened)="events.push('open!')"
          (closed)="events.push('close!')"
          class="sidenav"
        >
        <navbar></navbar>

        </mat-sidenav>

        <mat-sidenav-content>
          <div class="wrapper">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    <lib-footer class="footer"></lib-footer>
  </div>
</div>

