@use 'sass:map';
@use '@angular/material' as mat;
@use '../utils/theme';

$primary: mat.m2-define-palette(mat.$m2-deep-purple-palette, 400);
$accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, 300);
$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

@include mat.all-component-themes($theme);
@include theme.theme($theme);
