@use 'sass:map';
@use '@angular/material' as mat;
@use '../app-theme';

$primary: mat.m2-define-palette(mat.$m2-red-palette, 400);
$accent: mat.m2-define-palette(mat.$m2-lime-palette, A200, A100, A400);
$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

@include mat.all-component-themes($theme);
@include app-theme.theme($theme);
