@use '@angular/material' as mat;
@use './app-theme.scss';
@import "tailwindcss";

$primary: mat.m2-define-palette(mat.$m2-deep-purple-palette, 400);
$accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, 300);
$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

@include mat.core();

@include mat.all-component-themes($theme);
@include app-theme.theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.add-user-fab-button {
  position: fixed !important;
  bottom: 5em !important;
  right: 10em !important;
  z-index: 100;
}

mat-progress-bar {
  margin-top: 2px;
}

.ql-editor:focus {
  border: 1px solid #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
