@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.bubble.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.add-user-fab-button {
  position: fixed !important;
  bottom: 5em !important;
  right: 10em !important;
  z-index: 100;
}

mat-progress-bar {
  margin-top: 2px;
}

.ql-editor:focus {
  border: 1px solid #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
