/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-user-fab-button {
  position: fixed !important;
  bottom: 5em !important;
  right: 10em !important;
  z-index: 100;
}

mat-progress-bar {
  margin-top: 2px;
}
