html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// router-outlet {
//   flex: 1;
// }

.footer {
  margin-top: auto;
}
