<div class="wrapper" *ngIf="isAuthenticated$ | ngrxPush; else router">
  <div class="content">
      <lib-header></lib-header>
      <mat-sidenav-container class="profile-container">
        <mat-sidenav
          #sidenav mode="side"
          [(opened)]="opened"
          (opened)="events.push('open!')"
          (closed)="events.push('close!')"
          class="sidenav-container"
        >
          <div class="nav-items">
            <a href="#" onclick="return false;"><p>О себе</p></a>
            <a href="#" onclick="return false;"><p>Статьи</p></a>
            <a href="#" onclick="return false;"><p>Задачи</p></a>
          </div>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="wrapper">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon *ngIf="!opened">arrow_forward_ios</mat-icon>
              <mat-icon *ngIf="opened">arrow_back_ios</mat-icon>
            </button>
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    <lib-footer class="footer"></lib-footer>
  </div>
</div>


<ng-template #router>
  <router-outlet></router-outlet>
</ng-template>
